@model IEnumerable<ResitalWE.WebUI.Models.CariHareketOzetModel>
@{
    ViewData["Title"] = "Cari Hareket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heads{
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link href="~/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
}
<div class="row layout-top-spacing">
    <div id="tableProgress" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                 
                @*<div class="col-xl-12 col-md-12 col-sm-12 col-12  float-right">
                    <select class="selectpicker float-right">
                        <option>Ay Seçiniz</option>
                        <option>01-Ocak</option>
                        <option>02-Şubat</option>
                        <option>03-Mart</option>
                        <option>04-Nisan</option>
                        <option>05-Mayıs</option>
                        <option>06-Haziran</option>
                        <option>07-Temmuz</option>
                        <option>08-Ağustos</option>
                        <option>09-Eylül</option>
                        <option>10-Ekim</option>
                        <option>11-Kasım</option>
                        <option>12-Aralık</option>
                    </select> 
                </div>*@
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th class="text-center">Tarih</th>
                                <th class="text-center">Toplam Giriş</th>
                                <th class="text-center">Toplam Çıkış</th>
                                <th class="text-center">Toplam(KDV Hariç)</th>
                                <th class="text-center">Toplam(KDV Dahil)</th>
                                <th class="text-center">Seçenek</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.TARIH</td>
                                    <td class="text-center">@item.GIREN₺</td>
                                    <td class="text-center">@item.CIKAN₺</td>
                                    <td class="text-center">@item.KDVHARIC₺</td>
                                    <td class="text-center text-danger">@item.KDVDAHIL₺</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm" onclick="window.location.href=''" >
                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>&nbsp; Detay
                                        </button>
                                    </td>
                                </tr> 
                            }
                            
                    
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-center">Tarih</th>
                                <th class="text-center">Giriş</th>
                                <th class="text-center">Çıkış</th>
                                <th class="text-center">Toplam(KDV Hariç)</th>
                                <th class="text-center">Toplam(KDV Dahil)</th>
                                <th class="text-center">Seçenek</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
}
